.ccr-content {
    background: red;
    width: 30rem;
    border-radius: .3rem;
    padding: 1.5rem 2rem;
    background: rgb(36, 35, 35);
    color: #FFF;
    font-weight: bold;
    min-height: 12.5rem;
    position: relative;

    &__chip {
        background: url('../../assets/chip-card.png') no-repeat;
        background-size: contain;
        width: 60px;
        height: 60px;
        display: inline-block;
        border-radius: 26px;
    }

    &__body {
        position: absolute;
        top: 30%;
    }
}