.ccr-content {
    background: red;
    width: 30rem;
    border-radius: .3rem;
    padding: 1.5rem 2rem;
    background: rgba(64,64,64,1);
    background: linear-gradient(45deg, rgba(189,183,189,1) 0%, rgba(64,64,64,1) 97%, rgba(64,64,64,1) 100%);
    color: #FFF;
    font-weight: bold;
}